body{
	font-family: 'Architects Daughter';
	text-align: center;
	background-color: #ccecff;
}

.cell{
	display: inline-block;
	border-color: black;
	width: 25px;
	height: 25px;
	padding: 0px;
	margin: 0px;
	padding: 1px;
}

.wordBank{
	border-color: #ccd1ff;
	position: fixed;
	left: 5%;
	top: 10%;
	font-size: 20px;
	text-align: left;
	padding: 3%;
	background-color: #ccd1ff;
	border-width: 15%;
	border-radius: 10px;
	border-style: solid;
}

button{
	padding: 10px; 
	border-radius: 10px; 
	font-size: 20px; 
	background-color: #dbfff9;
	font-family: 'Architects Daughter'
}

button:hover{
	cursor: pointer;
}